@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000 ;
    --color-secundario: #f6f6f6;
    --color-terciario: #22d4fd ;
    --montserrat: "Montserrat", sans-serif;
    --fuente: "Krona One", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    
    box-sizing: border-box;
}
.header{
    padding: 2% 0% 0% 10%;
}
.menu{
    display: flex;
    gap: 5rem;

}
.header_link{
    font-family: var(--montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}
strong{
    color: var(--color-terciario);
}


.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 10%;
    justify-content: space-between;
    gap: 82px;
}
.texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.textoprin{
    font-size: 2.25rem;
    font-family: var(--fuente);
}
.parrafo{
    font-size: 1.5rem;
    font-family: var(--montserrat);
}
.botones{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}
.texto_enlaces{
    font-family: var(--fuente);
    font-size: 1.5rem;
    font-weight: 400;
}
.link{
    width: 50%;
    padding: 21.5px 0px;
    text-align: center;
    border-radius: 8px;
    font-family: var(--montserrat);
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;

}
.link:hover{
    background-color: #272727;
  
}
.imagen{
    width: 50%;
}

footer{
    background-color: var(--color-terciario);
    padding: 23.6px;
    color : var(--color-primario);
    text-align: center;
    font-family: var(--montserrat);
    font-size: 1.25rem;
    font-weight: 400;
}
.parrafo a{
    color: var(--color-terciario);
    text-decoration: none;
}

@media (max-width: 1200px){

    .header{
        padding: 10%;
        gap: 1.5rem;
    }
    .menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .texto{
        width: auto;
    }
}